* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
  max-width: 100%;
}


#container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px;
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}
ul,
ol {
  text-align: left;
  margin-left: 16px;
}
li {
  padding: 5px 0px;
  line-height: 24px;
}

li::marker {
  /*COR DOS PONTOS DAS LISTAS*/
  color: hsl(332, 51%, 32%);
  font-size: 12px;
  font-weight: 700;
}

span {
  font-weight: bold;
}

#infoprep {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  background-color: hsla(331, 100%, 98%, 0.857);
  font-size: 14px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  padding-bottom: 15px;
}

h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 0.5px solid hsla(32, 9%, 39%, 0.253);
  height: 45px;
  padding-left: 20px;
}
td:nth-child(2) {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

footer{
    padding-top: 30px;
    text-align: center;
}

@media (min-width: 500px) {
img{  border-radius: 10px;
}
  body {
    background-color:  hsl(30, 54%, 90%);
    padding: 40px 0;
  }
  #container {
    padding: 30px;
    width: 40%;
  }
  #infoprep{  border-radius: 8px;
  }
}
